**/.idea/
**/bazel-*
**/target/
*.sw*
*~
.DS_Store
perf.*
.gdb*
cargo-cache/
cargo-target/
.cargo-target-strict
.docker-cargo-*
.docker-scratchpad
massif.*
cargo-timing.*
cargo-timing-*

TODO
NOTES.md
/roms/
/assets/models/

zig-cache
zig-out
deps
